
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: green;
    border-bottom: 10px;
    border-color: darkgreen;
    border-style: solid;
}

h1{
    text-align: center;
}

