:root {
    --green: rgb(20, 65, 20);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background: rgb(226, 255, 226);
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--green);
    color: white;
    padding: 10px;
    margin-bottom: 30px;
}

header img{
    height: 65px;
    width: 50px;
}

h1 {
    font-size: 200%;
    margin-left: 5%;
}

nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a{
    margin-right: 20px;
    color: lightgrey;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    
    margin: 0;
}

/* Sidebar */
section {
    flex: 1 1 0;
    display: flex;
    padding-bottom: 30px;
}

h2 {
    font-size: 180%;
    border-right: 8px solid var(--green);
    padding: 10px;
    min-width: 20%;
    text-align: end;
}

/* Paragraph */
div {
    margin: 2%;
}
  
p { 
    font-size: 110%;
}

/* Project Images */
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.img div{
    border: 5px solid var(--green);
    padding: 0px;
    object-fit: fill;
    margin: 0;
    position: relative;
    display: inline;
    display: flex;
    flex-wrap: wrap;
}

.img div p{
    position: absolute;
    left: 25%;
    font-size: 150%;
    color: white;
    background: var(--green);
}

.img div:hover{
    border-color: green;
}

.larger {
    width: 100%;
    height: 50%;
}

.smaller {
    width: 25%;
    height: 20%;
}

img{
    width: 100%;
    height: 100%;
}

/* Contact */
.contact {
    height: 20%;
}


ul{
    display: flex;
    align-items: center;
    width: 100%; 
}

li{
    font-weight: bolder;
    padding-left: 5%;
    color: rgb(50, 50, 50);
}

li:hover{
    color: black;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--green);
    color: #fff;
}