:root {
    --green: rgb(20, 65, 20);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background: rgb(226, 255, 226);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: white;
    padding: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 200%;
    margin-left: 5%;
}

nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a{
    margin-right: 20px;
    color: lightgrey;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    
    margin: 0;
}

/* Sidebar */
section {
    flex: 1 1 0;
    display: flex;
    padding-bottom: 30px;
}

h2 {
    font-size: 180%;
    border-right: 8px solid var(--green);
    padding: 10px;
    min-width: 20%;
    text-align: end;
}

/* Paragraph */
div {
    margin: 2%;
}
  
p { 
    font-size: 110%;
}

/* Project Images */
#projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.larger {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.smaller {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

img{
    width: 100%;
}

/* Contact */

/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--green);
    color: #fff;
}